.restricted-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.restricted-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restricted-title {
    font-size: 24px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 10px;
}

.restricted-text {
    font-size: 18px;
    color: #4a4a4a;
    text-align: center;
}